@import "tailwindcss";
@plugin "daisyui";

/*noinspection CssUnresolvedCustomProperty*/
@theme inline {
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

p {
  max-width: 100ch;
}

p + p {
  margin-top: 1em;
}

.fix p + p {
  margin-top: 0;
}

pre.shiki {
  overflow-x: auto;
  max-width: calc(100dvw - 64px);

  @media (width > 40rem) {
    max-width: calc(100dvw - 150px - 64px);
  }

  @media (width > 48rem) {
    max-width: calc(100dvw - 250px - 64px);
  }
}
